<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/login.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <div id="log-head" class="col-12 col-lg-6 col-md-6 vh-100  d-flex justify-content-center w-100 align-items-center">
        <form id="mains" class="p-5  form-group  position-absolute text-light justify-content-center  col-12 col-md-6 col-lg-4" action="/login" method="POST">
            <div class="justify-content-center d-flex">
                <img src="images/icons8-person-94.png" class="rounded-circle">
            </div>
            <div class="d-flex justify-content-center">
                <h1 style="letter-spacing: 2px; color: #000;">Login</h1>
            </div>
            
            <br>
            <div>
                <label>email</label>
                <br>
                <input placeholder="name" type="text" name="logname" class="w-100" required>
            </div>
            <br>
            <div>
                <label>password</label>
                <br>
                <input placeholder="password" type="password" name="logpassword" class="w-100" required>  
            </div>
            <br>
            <% if (typeof error !== 'undefined' && error) { %>
                <p class="text-danger">
                  <%=error%>
                <p>
                <% } %>
            <button type="submit" class="w-100 text-secondary">Submit</button>
            <br>
            <br>
            <a href="register" style="color:  rgb(186, 186, 186);;" >Sign up</a>
        </form>
    </div>
</body>
</html>