/* .para{
    background: linear-gradient(
        20deg,
        rgb(243, 244, 250) 0%,
        rgb(243, 244, 250) 50%,                                                                 
        rgb(65, 75, 106) 10%,
        rgb(65, 75, 106) 10%
    );
    padding: 50px;
    text-align: center;
    color: black;
} */