body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#log-head{
    background-color:#fff;
}
#mains input ,button {
    border-radius: 10px;
    border-color: #fff;
    height: 40px;
    letter-spacing: 2px;
    border: none;
    
    
    
}
#mains input{
    padding: 10px;
    letter-spacing: 2px;
    background-color: #f6f7f5;
    border: none;
    
}
#mains label{
    letter-spacing: 2px;
    margin-left: 10px;
    color: rgb(186, 186, 186);
}

#mains a{
    margin-left: 70%;
    text-decoration: none;
    padding: 20px;
}
/* #mains{
    border-radius: 20px;
    background-color: rgb(252, 248, 248);
    box-shadow: 1px 2px 2px 3px #ffffff;
} */
#mains col-12{
   border-radius: 0%;
}